header {
    text-align: center;
    
}
.header {
    max-width: 894px;
    margin: 0 auto 0 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 99999;
    position: relative;
    @include lg {
        width: 92%;
    }
    &_toggle {
        display: none;
        @include lg {
            display: block;
            position: absolute;
            width: 15px;
            height: 30px;
            z-index: 9999;
            padding: 5px;
            right: 0;
            span {
                display: block;
                position: absolute;
                width: 20px;
                border-bottom: solid 2px #707070;
                &:nth-child(2) {
                    top: 10px;
                }
                &:last-child {
                    top: 15px;
                }
            }
        }
    }
    .header_toggle.active span:nth-child(1) {
            top: 10px;
            left: 6px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
    }       
    .header_toggle.active span:nth-child(2),.header_toggle.active span:nth-child(3) {
            top: 10px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
    }
    @include lg {
        margin: 0 auto;
    }
    h1 {
        width: 220px;
        margin-top: 10px;
        img {
            width: 100%;
        }
    }
    &_img {
        width: 100%;
        vertical-align: top;
    }
}

.l_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    @include lg {
        display: block;
        justify-content: space-between;
        align-items: center;
        background-color: $txt-color;
        z-index: 9989;
        position: fixed;
        top: 0;
        right: -100%;
        padding-top: 40px;
        transition: all .3s linear;
    }
    ul,li {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            @include lg {
                color: #fff;
            }
        }
    }
    .dropdown_container {
        position: relative;
        top: 0;
        left: 0;
        height: 70px;
        width: auto;
        text-align: center;
        display: block;
        @include lg {
            width: 100%;
            height: initial;
            border-bottom: 1px solid #fff;
        }
        &-link {
            line-height: 74px;
            display: block;
            font-size: 1.4rem;
            padding: 0 19px;
            @include lg {
                width: 100%;
                text-align: left;
                line-height: 50px;
            }
            &:hover {
                color: #fff;
            }
        }
        &-list {
            @include lg {
                width: 90%;
                margin: 0 0 0 auto;
                position: relative;
            }
        }
        &:hover  {
            background-color: $point-color;
        }   
    }
    .dropdown_container > ul {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        overflow: hidden;
        background-color: $txt-color;
        @include lg {
            position: relative;
            background-color: $txt-color;
        }
        li {
            text-align: left;
            padding: 5px 0 5px 15px;
            width: auto;
            background-color: $txt-color;
            @include lg {
                background: none;
                padding-left: 30px;
                width: 100%;
            }
            a {
                color: #fff;
                font-size: 1.4rem;
            }
            &:hover {
                background-color: $point-color;
            }
        }
    }
    .dropdown_container:hover > ul.dropdown_container-list{
        height: auto;
        width: 180px;
        @include lg {
            width: 100%;
        }
    }
    &-sub {
        display: flex;
        flex-flow: column wrap;
        height: 0;
        @include lg {
            flex-flow: row wrap;
            justify-content: space-between;
            display: flex;
        }
        &-01 {
            width: 240px!important;
        }
        &-02 {
            width: 300px!important;
            @include lg {
                width: 100%!important;
            }
        }
        &-03 {
            width: 520px!important;
            &:last-child li {
                height: auto;
            }
            @include lg {
                width: 100%!important;
            }
        }
        li {
            height: 34px;
            @include lg {
                width: 100%!important;
            }
        }    
    }
}
.l_header {
    display: flex;
    @include lg {
        display: block;
    }
}
.dropdown_container:hover > ul.l_header-sub  {
    height: 136px;
    @include lg {
        height: auto;
    }
}
.dropdown_container.current .dropdown_container-link  {
    color: #fff;
}

.nav_sp.open .l_header  {
    right: 0!important;
    transition: all .3s linear;
}